<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Search Records</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
    th:href="@{css/bootstrap.min.css}">
</head>
<body>
	<div>
		<form th:action="@{/search}">
   		 	 Filter: <input type="text" name="title" id="title" size="50" th:value="${title}" required />
   			 &nbsp;
   			 <input type="submit" value="Search" />
   			 &nbsp;
   			 <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" /> 
		</form>
	</div>
</body>
</html>